# Bibliotecas Principais
streamlit
pandas
numpy

# Geração de PDF (Necessária para a linha 18 do seu código)
fpdf2

# Visualização e Gráficos
plotly
matplotlib
seaborn

# Utilitários e Requisições
requests
GitPython