name: Keep Streamlit App Alive

on:
  schedule:
    # Executa todos os dias às 12:00 UTC (09:00 no horário de Fortaleza)
    - cron: '0 12 * * *'
  workflow_dispatch: # Permite rodar manualmente no GitHub para testar

jobs:
  ping-app:
    runs-on: ubuntu-latest
    steps:
      - name: Fazendo um GET request no Streamlit
        run: |
          curl -sL https://portfolio-py-c45uvaa8fvasrmvlxrcxs.streamlit.app > /dev/null
          echo "Ping no Streamlit realizado com sucesso!"