name: Keep Streamlit App Alive

on:
  schedule:
    - cron: '0 12 * * *'
  workflow_dispatch: 

jobs:
  ping-app:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Automático
        run: |
          # -L: Segue redirecionamentos
          # -k: Ignora erros de SSL/Certificado (comum em subdomínios)
          # -s: Modo silencioso
          # || true: Garante que o workflow não fique vermelho se o site demorar
          curl -Lks https://portfolio-py-c45uvaa8fvasrmvlxrcxs.streamlit.app/ || true
          echo "Processo de ping finalizado."