name: Keep Streamlit App Alive

on:
  schedule:
    - cron: '0 12 * * *'
  workflow_dispatch: 

jobs:
  ping-app:
    runs-on: ubuntu-latest
    steps:
      - name: Fazendo um GET request no Streamlit
        run: |
          # O parâmetro -I apenas baixa o cabeçalho (mais leve)
          # O parâmetro -k ignora problemas de SSL temporários
          # O parâmetro -f garante que falhe se o site estiver fora, mas vamos debugar
          curl -I -k -s https://portfolio-py-c45uvaa8fvasrmvlxrcxs.streamlit.app/
          echo "Ping realizado. Verifique os logs acima se houver erro HTTP."